#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box{
  text-align: center;
}

em{
  color: #fff;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

.main {
  padding: 0rem 0rem 0rem 10.7rem;
  flex-direction: row;
  display: inline-flex;
  overflow: hidden;
}

.top{
  position: absolute;
  top: 20%;
  left: 20%;
  font-family: 'Arizonia', cursive;
  font-size: 5.5rem;
  line-height: 1.5;
  color: #fff;
}

.center{
  position: absolute;
  top: 37%;
  left: 20%;
  font-weight: 600;
  font-family: 'Segoe UI';
  font-size: 2.75rem;
  line-height: 1.5;
  color: #fff;
}

.bottom{
  position: absolute;
  top: 49%;
  left: 20%;
  font-family: 'Segoe UI';
  font-size: 1.84rem;
  line-height: 1.5;
  color: #fff;
  text-align:left;
}

.download-button{
  position: absolute;
  top: 70%;
  left: 20%;
  background-color:#FF7575;
  border-radius:1em;
  font-family: 'Segoe UI';
  font-size: 1.4rem;
  font-weight: 600;
  color:white;
  text-transform:uppercase;
  padding:0.6em 2em;
}

.download-button:hover {
  background-color: #DFDFDF; /* Gray */
}

.mid{
  position: absolute;
  top: 125%;
  left: 46%;
  font-family: 'Segoe UI';
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5;
  color: #FF7575;
}

.middle{
  position: absolute;
  top: 0%;
  left: 25%;
  font-family: 'Segoe UI';
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.3;
  color: #707070;
}

#features{
  padding: 10% 13%;
}

h3.aa{
  padding: 8%;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 1.84rem;
  line-height: 1.5;
  color: #39374D;
}

h3.ab{
  padding: 6%;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 1.84rem;
  line-height: 1.5;
  color: #39374D;
}

h3.ac{
  padding: 4%;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 1.84rem;
  line-height: 1.5;
  color: #39374D;
}

.end{
  position: absolute;
  top: 231%;
  left: 61%;
  font-family: 'Times New Roman';
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5;
  color: #FF7575;
}

.endnext{
  position: absolute;
  top: 239%;
  left: 61%;
  font-family: 'Times New Roman';
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.2;
  text-align:left;
  color: #707070;
}

.last{
  position: absolute;
  top: 257%;
  left: 61%;
  font-family: 'Segoe UI';
  font-size: 1.3rem;
  color: #707070;
  text-align:left;
}


.lastone{
  position: absolute;
  top: 266%;
  left: 61%;
  font-family: 'Segoe UI';
  font-size: 1.3rem;
  color: #707070;
  text-align:left;
}

.success{
  position: absolute;
  top: 281%;
  left: 61%;
  background-color:#707070;
  border-radius:1em;
  font-family: 'Segoe UI';
  font-size: 1.3rem;
  font-weight: 600;
  color:white;
  text-transform:uppercase;
  padding:0.6em 1.5em;
}

.success:hover {
  background-color: #FF7575;
  color: white;
}

.work{
  position: absolute;
  padding: 1em;
  left: 39%;
  font-family: 'Times New Roman';
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.2;
  text-align:center;
  color: #00A79D;
}

h3.pa{
  padding: 30% 30% 0 30%;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #00A79D;
  
}

h3.pb{
  padding: 30% 30% 0 30%;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #00A79D;

}

h3.ka{
  padding: 8% 8% 0 8%;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #00A79D;

}

h3.kb{
  padding: 8% 8% 0 8%;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #00A79D;

}

h3.kc{
  padding: 8% 8% 0 8%;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #00A79D;

}

h3.kd{
  padding: 8% 8% 0 8%;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #00A79D;

}

h3.pc{
  padding: 30% 30% 0 30%;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #00A79D;

}

h3.pd{
  padding: 30% 30% 0 30%;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.5;
  color: #00A79D;

}

.abc{
  margin-top: 8%;
}

.bd {
  color: white;
  position: absolute;
  top: 393%;
  left: 38%;
}