#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  .feature-box{
    text-align: center;
  }
  em{
    color: #fff;
  }
  .icon{
    color: #ef8172;
    margin-bottom: 1rem;
  }
  .icon:hover{
    color: #ff4c68;
  }

  .main {
    padding: 0rem 0rem 0rem 10.7rem;
    flex-direction: row;
    display: inline-flex;
    overflow: hidden;
}

.top{
  position: absolute;
  top: 20%;
  left: 20%;
  /*transform: translate(-50%, -50%);*/
  font-family: 'Arizonia', cursive;
  font-size: 5.5rem;
  line-height: 1.5;
  color: #fff;
}

.center{
  position: absolute;
  top: 37%;
  left: 20%;
  font-weight: 600;
  /*transform: translate(-50%, -50%);*/
  font-family: 'Segoe UI';
  font-size: 2.75rem;
  line-height: 1.5;
  color: #fff;
}

.bottom{
  position: absolute;
  top: 49%;
  left: 20%;
  /*transform: translate(-50%, -50%);*/
  font-family: 'Segoe UI';
  font-size: 1.84rem;
  line-height: 1.5;
  color: #fff;
  text-align:left;
}

.btn{
  position: absolute;
  top: 70%;
  left: 20%;
background-color:#FF7575;
border-radius:1em;
font-family: 'Segoe UI';
font-size: 1.4rem;
font-weight: 600;
color:white;
text-transform:uppercase;
padding:0.6em 2em;
}

.btn:hover {
  background-color: #DFDFDF; /* Gray */
}

.mid{
  position: absolute;
  top: 137%;
  left: 46%;
  /*transform: translate(-50%, -50%);*/
  font-family: 'Segoe UI';
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5;
  color: #FF7575;
}

.middle{
  position: absolute;
  top: 0%;
  left: 25%;
  /*transform: translate(-50%, -50%);*/
  font-family: 'Segoe UI';
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.3;
  color: #707070;
}

#features{
  padding: 10% 13%;
}

h3.aa{
  padding: 8%;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 1.84rem;
  line-height: 1.5;
  color: #39374D;
}

h3.ab{
  padding: 6%;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 1.84rem;
  line-height: 1.5;
  color: #39374D;
}

h3.ac{
  padding: 4%;
  font-family: 'Segoe UI';
  font-weight: 700;
  font-size: 1.84rem;
  line-height: 1.5;
  color: #39374D;
}